type project
releasenotes
  * USABILITY: Throw exception with useful info when trying to track a notifying struct.

tags Equals, Copy, Sync, Diff, Dirty
projectUrl https://github.com/JohanLarsson/Gu.State
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers
  IDisposableAnalyzers
  Gu.Analyzers
  WpfAnalyzers
  Microsoft.ApiDesignGuidelines.Analyzers
  Desktop.Analyzers
