type project
releasenotes
  * BUGFIX: Track dirty with inheritance.

tags Equals, Copy, Sync, Diff, Dirty
projectUrl https://github.com/JohanLarsson/Gu.State
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers
  Microsoft.ApiDesignGuidelines.Analyzers
  Microsoft.CodeAnalysis.Analyzers
  Desktop.Analyzers
