type project

projectUrl https://github.com/JohanLarsson/Gu.State
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  BUGFIXES: Multiple fixes for EqualBy
  PERF: EqualBy faster now, still a lot to be done.
  BREAKING: EqualByComparer no longer public.

excludedgroups
  Analyzers
