source http://www.nuget.org/api/v2/
framework: auto-detect

nuget JetBrains.Annotations
nuget Moq
nuget NUnit
nuget StyleCop.Analyzers
nuget BenchmarkDotNet
nuget BenchmarkDotNet.Diagnostics.Windows
nuget System.Reflection.Metadata = 1.2.0

nuget System.Collections.Immutable
nuget Gu.Units
#nuget Desktop.Analyzers
#nuget Microsoft.ApiDesignGuidelines.Analyzers
nuget Microsoft.CodeAnalysis.Analyzers