source http://www.nuget.org/api/v2/

group Analyzers
  source http://www.nuget.org/api/v2/
  nuget StyleCop.Analyzers
  nuget Gu.Analyzers
  nuget WpfAnalyzers
  nuget Desktop.Analyzers
  nuget JetBrains.Annotations

group Test
  source http://www.nuget.org/api/v2/
  framework: net452
  nuget Moq
  nuget NUnit
  nuget System.Collections.Immutable
  nuget Gu.Units

group Benchmarks
  redirects: on
  source http://www.nuget.org/api/v2/
  framework: net461
  nuget BenchmarkDotNet
  nuget BenchmarkDotNet.Diagnostics.Windows

