source http://www.nuget.org/api/v2/

nuget JetBrains.Annotations
nuget Moq
nuget NUnit 2.6.4
nuget StyleCop.Analyzers
nuget BenchmarkDotNet
nuget System.Collections.Immutable
#nuget Desktop.Analyzers
#nuget Microsoft.ApiDesignGuidelines.Analyzers
#nuget Microsoft.CodeAnalysis.Analyzers