<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Gu.State" Description="Code analysis rules for Gu.State.csproj." ToolsVersion="14.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Error" />
    <Rule Id="CA1032" Action="Warning" />
    <Rule Id="CA1049" Action="Error" />
    <Rule Id="CA1054" Action="Warning" />
    <Rule Id="CA1055" Action="Warning" />
    <Rule Id="CA1056" Action="Warning" />
    <Rule Id="CA1057" Action="Warning" />
    <Rule Id="CA1063" Action="Error" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1402" Action="Warning" />
    <Rule Id="CA1406" Action="Warning" />
    <Rule Id="CA1407" Action="Warning" />
    <Rule Id="CA1408" Action="Warning" />
    <Rule Id="CA1409" Action="Warning" />
    <Rule Id="CA1411" Action="Warning" />
    <Rule Id="CA1412" Action="Warning" />
    <Rule Id="CA1413" Action="Warning" />
    <Rule Id="CA1414" Action="Warning" />
    <Rule Id="CA1600" Action="Warning" />
    <Rule Id="CA1601" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1824" Action="Warning" />
    <Rule Id="CA2001" Action="Warning" />
    <Rule Id="CA2003" Action="Warning" />
    <Rule Id="CA2135" Action="Warning" />
    <Rule Id="CA2136" Action="Warning" />
    <Rule Id="CA2139" Action="Warning" />
    <Rule Id="CA2142" Action="Warning" />
    <Rule Id="CA2143" Action="Warning" />
    <Rule Id="CA2144" Action="Warning" />
    <Rule Id="CA2145" Action="Warning" />
    <Rule Id="CA2202" Action="Error" />
    <Rule Id="CA2211" Action="Warning" />
    <Rule Id="CA2213" Action="Error" />
    <Rule Id="CA2215" Action="Error" />
    <Rule Id="CA2217" Action="Warning" />
    <Rule Id="CA2218" Action="Warning" />
    <Rule Id="CA2219" Action="Warning" />
    <Rule Id="CA2225" Action="Warning" />
    <Rule Id="CA2228" Action="Warning" />
    <Rule Id="CA2230" Action="Warning" />
    <Rule Id="CA2233" Action="Warning" />
    <Rule Id="CA2234" Action="Warning" />
    <Rule Id="CA2243" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS1573" Action="Info" />
    <Rule Id="CS1591" Action="Info" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1404" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1610" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1620" Action="None" />
    <Rule Id="SA1621" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1626" Action="None" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1651" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SA0001" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1052" Action="None" />
  </Rules>
</RuleSet>