type project
title Gu.ChangeTracking
tags INotifyPropertyChanged, WPF
projectUrl https://github.com/JohanLarsson/Gu.ChangeTracking
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers
